*{
    margin:0;
    padding:0;
    font-family:'Montserrat', sans-serif;
    font-size:14px;
}
ul{
    margin:0;
    padding:0;
}
ul, li, a{
    list-style: none;
}
p{
    font-size:14px;
    line-height: 26px;
}
body{
    color:#ffffff;
    position:relative;
    background: rgb(13,14,19);
}
.banner-bg{
    background: linear-gradient(-45deg, #91f7c9, #0784b1, #9EC8E8, #00AEEF );
    background: -moz-linear-gradient(-45deg, #91f7c9, #0784b1, #9EC8E8, #00AEEF );
    background: -webkit-linear-gradient(-45deg, #91f7c9, #0784b1, #9EC8E8, #00AEEF );
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    min-height: 664px;
    padding-bottom: 25px;
    /* z-index: -1; */
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.banner-btn ul li{
    display: inline-block;
}

.tp-nav li{
    position: relative; 
}
.tp-nav li a{
    color:#fff!important;
    font-size:15px;
    font-weight: 500;
    text-transform: uppercase;
    padding: .9rem 1.3rem!important;
}
.tp-nav li a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background:#00AEEF;
    width: 0;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    filter: blur(0.05rem);
    -webkit-filter: blur(0.05rem);
  }
  .tp-nav li a:hover:after { 
    width: 100%; 
    left: 0; 
  }
.navbar-sec{
    position: relative;
    top:20px;
}
.navbar-brand i{
    width: 170px;
    height: auto;
}
.navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-size:22px;
    display: flex;
    align-items: center;
}
.navbarshow{
    padding: 15px;
    text-align: center;
    background: rgba(31, 34, 41, 0.1);
    border: 0.75px solid #484848;
    box-sizing: border-box;
    box-shadow: 0px 16px 16px 8px rgb(0 0 0 / 25%), inset 62.7333px -62.7333px 62.7333px rgb(24 26 31 / 10%), inset -62.7333px 63px 62.7333px -59px rgb(255 255 255 / 10%);
    backdrop-filter: blur(45px);
    border-radius: 8px;
}
.navbarshow ul{
    text-align: center;
    display: inline;
}
/* Start of Banner */
.banner{
    color:#fff;
    margin: 100px 0px 0px;
}
.banner-wrap, .purpose, .faq-sec{
    position:relative;
    z-index: 0;
}
.banner-wrap::after{
    content: '';
    position:absolute;
    top: 79px;
    left: -20%;
    transform: translateX(0%);
    width: 45%;
    height: 128%;
    z-index: -1;
    background: url(../images/Group94.png);
    background-repeat:no-repeat;
}
.purpose::after{
    content:'';
    position:absolute;
    top:0;
    right:0px;
    transform:translateY(-7%);
    z-index: -1;
    width:25%;
    height: 100%;
    background: url(../images/group.png);
    background-repeat:no-repeat;
}
.banner h1{
    font-family: 'Montserrat', sans-serif;
}
.banner h1{
    color:#fff;
    font-size: 48px;
    margin-bottom:30px;
    font-weight: 800;
}
.banner p{
    font-size:18px;
    line-height: 24px;
    font-weight: 600;
}
.banner-btn{
    margin-top:45px;
}
.banner-btn li a{
    margin-right:25px;
    font-size: 15px;
}
.banner-btn li a, .cto-btn{
    color: #ffffff;
    display:flex;
    align-items: center;
    border-radius: 4px;
    text-decoration: none;
    margin-right:25px;
    background: #212121;
    transition: 300ms;
}
.banner-btn li a i, .banner-btn li a span{
    padding: 12px 18px;
}
.banner-btn li a i{
    background: #00AEEF;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.banner-btn li a:hover{ 
    background: #25bbf1;
    color:#e9f7fc;
}
.mt-6{
    margin-top:5rem;
}
.ptb{
    padding: 60px 0px;
}
.about, .purpose, .faq-sec{
    background:#212121;
}
.partner-sec, .services-sec, .success, .purpose, .process-sec, .faq-sec{
    padding:60px 0px;
    overflow: hidden;
}
.about{
    padding: 135px 0px 60px 0px;
}
.heading, .heading-right, .heading-service, .heading-success, .purpose-heading, .heading-faq{
    display: inline-block;
    z-index: 0;
    position: relative;
    padding: 20px 20px 0px 0px;
}
.heading::after{
    transform: translateX(-32%);
    height: 100%;
    width: 148%;
    left: 0px;
}
.heading::after, .heading-right::after, .heading-service::after, .heading-success::after, .purpose-heading::after, .heading-faq::after{
    position: absolute;
    content: '';
    background: #00AEEF;
    top: 0;
    z-index: -1;
}
.heading-right::after{
    transform: translateX(21%);
    height: 100%;
    width: 140%;
    right: 0px;
}
.heading-service::after{
    transform: translateX(-40%);
    height: 100%;
    width: 180%;
    left: 0px;
}
.heading-success::after{
    transform: translateX(19%);
    height: 100%;
    width: 140%;
    right: 0px;
}
.purpose-heading::after{
    transform: translateX(-40%);
    height: 100%;
    width: 180%;
    left: 0px;
}
.heading-faq::after{
    transform: translateX(-47%);
    height: 100%;
    width: 239%;
    left: 0px;
}
.about h1, .partner-sec h1, .success h1, .services-sec h1, .purpose h1, .faq-sec h1{
    position: relative;
    color:rgb(255, 255, 255);
    font-size:40px;
    text-align:center;
    font-weight: 600;
}
.partner-sec, .success, .process-sec{
    background: #ffffff;
}
.partner-block{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.partner-block a{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width:150px;
}
.txt-right{
    text-align: right;
}
.services-sec{
    background:#212121;
}
.service-block, .faq-block{
    margin-top:30px;
}
.service-block img{
    width: 20%;
}
.service-block a{
    display: block;
    color: #fff;
    text-decoration: none;
}
.service-block h3{
    margin:25px 0px;
}
.service-block p{
    line-height: 26px;
}
.purpose-heading, .process-content h3{
    margin-bottom:30px;
}
.article-block{
    color:#ffffff;
}
.article-block h3{
    margin:30px 0px;
}
.process-block{
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}
.process-block>*{
    flex: 1 1 223.8px;
}
.process-content{
    color:#212121;
}
.faq-sec::after{
    content: '';
    position:absolute;
    top:-65px;
    right: 0;
    transform: translateX(0%);
    width:25%;
    height: 100%;
    z-index: -1;
    background: url(../images/faq-logo.png);
    background-repeat:no-repeat;
}
footer{
    background-color: #A8A8A8;
}
footer{
    padding: 60px 0px;
}
.footer-sm h5{
    color:#212121;
}
.footer-sm ul li a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    margin: 0;
    line-height: 34px;
}
.footer-sm ul li a img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.footer-sm ul li a{
    position: relative;
}
.footer-sm ul li a:after{    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background:#00AEEF;
    width: 0;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    filter: blur(0.05rem);
    -webkit-filter: blur(0.05rem);
  }
  .footer-sm ul li a:hover:after { 
    width: 100%; 
    left: 0; 
  }
.footer-sm ul{
    margin-top:25px;
}
.footer-logoblock h4{
    margin: 25px 0px 15px 0px;
}
.footer-logo a{
    display: block;
    width: 160px;
    height: auto;
}
.sub-footer{
    background: #25bbf1;
    padding:15px 0px;
}
.sub-footer ul li{
    display: inline-block;
}
.sub-footer ul li a{
    font-size:14px;
    font-weight: 500;
    padding-right: 15px;
}
.fo-copyright{
    text-align: right;
    font-weight: 500;
}
.fo-copyright a, .sub-footer ul li a{
    color:#fff;
    text-decoration: none;
}
.txt-center{
    text-align: center;
}
@media only screen and (max-width: 374px) and (min-width: 320px) {
    .about h1:before {
        width: 71%;
    }
    .show{
        margin-top: 10px;
        background-color:rgb(32, 172, 212, 0.4);
    }
    .banner-btn li a{
        margin-top:10px;
    }
    .banner-wrap::after{
        width:136%;
        transform: translateX(-21%);
    }
    .banner h1, .about h1, .partner-sec h1, .success h1, .services-sec h1, .purpose h1, .faq-sec h1{
        font-size:30px;
    }
    .heading-right::after {
        transform: translateX(3%);
        width: 105%;
    }
    .heading-success::after {
        transform: translateX(3%);
        width: 96%;
    }
    .purpose-heading::after{
        width:160%;
    }
}
@media only screen and (max-width: 767px) and (min-width: 375px) {
    .about h1, .partner-sec h1, .success h1, .services-sec h1, .purpose h1, .faq-sec h1{
        font-size:30px;
    }
    .banner-wrap::after{
    top: 147px;
    left: -58%;
    width: 118%;
    }
    .heading::after{
        width: 135%;
    }
    .heading-right::after {
        transform: translateX(3%);
        width: 103%;
    }
    .heading-success::after {
        transform: translateX(3%);
        width:88%;
    }
    .purpose::after{
        transform: translateY(-5%);
        width: 79%;
    }
    .purpose-heading::after {
        transform: translateX(-4%);
        width: 95%;
    }
    .faq-sec::after{
        width: 40%;
    }
    .fo-copyright{
        text-align: unset;
    }
    .sub-footer{
        line-height: 26px;
    }
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .smbtn ul{
        margin:0 auto;
    }
    .about h1::before{
        width: 54%!important;
    }
    .heading-right::after {
        transform: translateX(6%);
    }
    .heading-success::after {
        transform: translateX(6%);
        width: 120%;
    }
    .purpose::after{
        width: 38%;
    }
    .faq-sec::after{
        width: 38%;
    }
    .process-block>* {
        flex: 1 1 139.8px;
    }
    .banner-wrap::after{
        width: 61%;
        top: 133px;
    }
    
}
@media only screen and (max-width: 1340px) and (min-width: 1024px) {
    .heading-right::after{
        width: 124%;
        transform: translateX(9%);
    }
    .heading-success::after {
        transform: translateX(9%);
        width: 110%;
    }
    .purpose::after{
        width: 28%;
    }
    .faq-sec::after{
        width: 28%;
    }
    .process-block>* {
        flex: 1 1 187.8px;
    }
    .banner-wrap::after{
        width:56%;
        top:163px;
    }
}
@media only screen and (max-width: 1920px) and (min-width: 1820px) {
    .heading::after {
        transform: translateX(-38%);
        width: 186%;
    }
    .heading-right::after {
        transform: translateX(37%);
        width: 173%;
    }
    .heading-success::after {
        transform: translateX(30%);
        width: 200%;
    }
}
@media only screen and (max-width: 2800px) and (min-width: 2000px) {
    .heading::after {
        transform: translateX(-38%);
        width: 186%;
    }
    .heading-right::after {
        transform: translateX(46%);
        width: 200%;
    }
    .heading-success::after {
        transform: translateX(43%);
        width: 200%;
    }
}
@media(min-width:375px){
    .banner{
        text-align: center;
        margin: 54px 0px 0px;
    }
    .banner-btn{
        margin-top:10px;
    }
    .banner-btn ul li a{
        margin-top:20px;
    }

}
@media (min-width: 667px){
    .about h1:before {
    width: 54%;
    }

}
@media (min-width: 812px){                          
        .about-block a{
        min-height: 571px;
        }
        .banner-text{
            width: 100%;
        }
    }
    @media(min-width:1024px){
        .banner{
            margin: 150px 0px 0px;
        }
        .banner-text{
            margin-top: 100px;
        }
        .about-block a {
            min-height: 474px;
        }
    }
@media (min-width: 1140px){
    .banner-text{
        width: 50.6666666667%;
        margin-top:0;
        float: right;
    }
    .img-block{
        width:70%;
    }
    .about h1:before{
        width:376px;
    }
}
@media (min-width: 1366px){
    .banner{
        margin: 105px 0px 0px;
        text-align: left;
    }
    .about-block a{
        min-height: 377px;
    }

}
@media (min-width: 1400px){
}
@media (min-width: 1600px){
    
}
@media (min-width: 2000px){}